.home {
  background-image: url("../../../assets/coverbody.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.home-container {
  height: calc(100vh - 13vh);
  display: flex;
  margin: 0 6.5%;
}
.home-main {
  height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem 1rem;
  margin: 0 10%;
  overflow-y: scroll;
}

.home-main h1 {
  color: #629431;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.home-main p,
span {
  margin: 0 3rem;
  font-size: 1rem;
}

.home-main span {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 0.3rem;
}
