.home {
  background-image: url("../../../assets/coverbody.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.home-container {
  height:calc(100vh - 13vh);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}
.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin:0 3rem
}

.home-main h1{
  color: #629431;
}

.home-main p, span{
  margin:0.5rem 3rem
}

.home-main span{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 0.9rem;
}