.header-container{
    display: flex;
    align-items: center;
    background-color: #7FAF4F;
    max-width: 100vw;
    height: 5.5rem;
    padding: 0rem 8rem 0rem 8rem;
}

.header-container .logo img{
    width: 4.5rem;
    height: 4.5rem;
}