.main {
  background-image: url('https://biossance.com.br/cdn/shop/articles/dia-da-natureza-topo_1024x1024.jpg?v=1658251368');
  background-size: 100%; 
  width: 100%;
  min-width: 393px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.main .btn-card{
  display: flex;
  
  background-color: #924545bb;
  border: none;
  height: 5rem;
  width: 100%;
}

.main .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffffb3;
  padding: 0.1rem 1rem;
  margin: 0 10%;
}
