.catalog {
    box-sizing: border-box;
  }
  
  .search{
    display: flex;
    background-color: #b9b9b9e3;
    max-height: 2rem;
    margin: 0 10%;
    border-bottom: 0.1rem solid #629431;
  }

  .search .input{
    display: flex;
  }
  
  .catalog .catalog-container {
    height: calc(100vh - 9.1rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 1rem 1rem;
    margin: 0 10%;
    overflow-y: scroll;
  }
  
  .main .btn-card{
    background: none;
    width: 100%;
    height: 8rem;
    border: none;
    padding: 0;
    margin: 1rem 0rem;
  }
  